
*.aux
*.log
*.gz
*.toc
*.synctex(busy)
.DS_Store
Cap3.bcf
Cap3.run.xml
TheoreticalPhy_ModB-blx.bib
TheoreticalPhy_ModB.bbl
TheoreticalPhy_ModB.bcf
TheoreticalPhy_ModB.blg
TheoreticalPhy_ModB.run.xml
*.bcf
*.xml
Cap4.pdf
Cap5.pdf
Cap5.2.pdf
Cap6.pdf
Cap3.pdf
Cap7.pdf
Cap8.pdf
